<section id="team" class="s-team target-section">
    <div class="row section-header has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle">Our Team</h3>
            <h1 class="text-display-title h1black">
                YAO 2024 is organised by PhD students from CESQ together with Fondation Jean-Marie Lehn.
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">
        <div class="column lg-12">

            <p>
                We are: Manuel Morgado, Maximilian Müllenbach, Amar Bellahsene, Swayangdipta Bera, Matteo Bergonzoni, 
                Tatiana Bespalova, Ruben Daraban, Clément Gradziel, Tanul Gupta, Dr. Anuja Padhye, 
                Laura Pecorari & Vineesha Srivastava.
            </p>
            <p>
                Our Scientific Advisory Committee helps in ensuring the high degree of scientific quality. 
                They are: Prof. Guido Pupillo, Prof. Guillaume Schull & Prof. Shannon Whitlock
                
            </p>
            <p>
                We thank Anna Guyon and Laurence Schmitt for the administrative support in organising the conference. 
                We thank the Fondation Jean-Marie Lehn for their support in handling the conference funds.
            </p>

        </div>
    </div> <!-- end row -->

    <div class="column lg-12">
        <div class="row">
        <figure>
            <img src={{ "assets/images/OrganizerBottom.png" | relative_url }} alt="programme">
        </figure>
        </div>
    </div>

</section>