<!-- # programme
        ================================================== -->
<section id="programme" class="s-services target-section">

    <div class="row section-header has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle"> Programme </h3>
            <h1 class="text-display-title">
                Conference Programme
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="column lg-12">
        <div class="row">
        <figure class="margin-top-bottom-0">
            <img src={{ "assets/images/programme/Programme.png" | relative_url }} alt="programme">
        </figure>
        <figure class="margin-top-bottom-0">
            <img src={{ "assets/images/SponsorLogos.png" | relative_url }} alt="sponsors">
        </figure>
        </div>
    </div>

</section> <!-- end s-services -->