<!-- # programme
        ================================================== -->
<section id="programme" class="s-services target-section">

    <div class="row section-header has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle"> Programme </h3>
            <h1 class="text-display-title">
                Conference Programme
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">
        <div class="column lg-12">

            <div class="table-responsive">

                <table>
                    <!-- <thead>
                        <tr>
                            <th>Event</th>
                            <th>Inform</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        {% for item in site.data.information %}
                        <tr>
                            <td><b>{{ item.category }}</b></td>
                            <td>{{ item.information }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column lg-12">
        <div class="row">
        <figure class="margin-top-bottom-0">
            <img src={{ "assets/images/programme/Programme.png" | relative_url }} alt="programme">
        </figure>
        <figure class="margin-top-bottom-0">
            <img src={{ "assets/images/SponsorLogos.png" | relative_url }} alt="sponsors">
        </figure>
        <div class="colorwhite">*Check out open <a href="https://www.highfinesse.com/en/highfinesse/job-offer-05.html" target="_blank" rel="noopener noreferrer">PhD positions at HighFinesse! </a> </div>
        </div>
    </div>


</section> <!-- end s-services -->