<!-- # registration
        ================================================== -->
<section id="registration" class="s-registration target-section">
    <div class="row section-header section-header--dark has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle"> Registration </h3>
            <h1 class="text-display-title"> Register for YAO 2024 </h1>
        </div>
    </div> <!-- end row -->
    <div class="row">
        <div class="column lg-12">
            <h3 class="h3"> Application </h3>
            <p>
                Please apply for YAO 2024 by filling out the <a href={{ site.data.registration.registrationlink }}> Registration Form </a> 
                and uploading an abstract of your submission. YAO encourages young researchers to offer a talk on their work to an international audience. 
                If you apply for a talk, you will be notified if your submission has been accepted as a talk or is offered to present as a poster.
            </p>
            <p>
                Abstracts are accepted in PDF format. Please name the PDF file as 'FirstName_LastName.pdf'.  
                An abstract template can be downloaded directly <a href={{ site.data.registration.directdownloadlink }}> here </a> 
                or via <a href={{ site.data.registration.overleaflink }} > overleaf </a>.
                
            </p>
            <p>
                The registration deadline is <b class=color1> March 31st 2024 </b>. 
                The applications will be reviewed and you shall be informed upon selection as soon as possible. 
                Your participation is only fully confirmed upon the receipt of your conference fee.
            </p>

            <div class="btn-wrap">
                <a href={{ site.data.registration.registrationlink }} class="btn btn--primary">
                    Register Now
                </a>
            </div>

        </div>

        <div class="column lg-12">

            <h3>Important Dates</h3>

            <div class="table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in site.data.deadlines %}
                        <tr>
                            <td>{{ item.event }}</td>
                            <td>{{ item.date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="column lg-12">

            <h3>Conference Fees</h3>

            <div class="table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in site.data.fees %}
                        <tr>
                            <td>{{ item.category }}</td>
                            <td>{{ item.fee }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="p-small">
                NOTE:
                The conference fee covers the participation costs, accommodation with breakfast, lunches in the nearby cafeteria, social programme and the conference dinner. A limited amount of QMat students will be able to participate for free thanks to generous QMat funding.
            </p>
        </div>

    </div>
</section>